.scroll_button {
    margin: 0 auto;
    text-decoration: none;
    color: #1f373d;
    cursor: pointer;
    height: 40px;
    width: 150px;
    padding: 0px 0px 50px 150px;
}

.scroll_button p {
    transform: rotate(180deg);
    font-size: 12px;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 90px;
    padding: 15px 0px 15px 60px;
}

.scroll_button .arrow_1 {
    position: relative;
    transform: rotate(-90deg);
    padding: 0;
    max-width: 1px;
    left: 110px;
    bottom: 25px;
}

.arrow_1 span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--second-main-color);
    border-right: 2px solid var(--second-main-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow_1 2s infinite;
}

.arrow_1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow_1 span:nth-child(3) {
    animation-delay: -0.4s;
}

/*____________________________________________________________________*/

.search_button input[type=text] {
    margin-top: 0;
    width: 300px;
    height: 70px;
    border: none;
    background-image: url(./src/img/search.png);
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: var(--second-main-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

input[type="text"]::-webkit-input-placeholder {
    color: var(--second-main-color);
    opacity: 0.6;
}

/*Safari & Chrome*/
input[type="text"]::-moz-placeholder {
    color: var(--second-main-color);
    opacity: 0.6;
}

/*Firefox*/


.search_button input[type=submit] {
    width: 147px;
    border: none;
    height: 70px;
    background: var(--first-main-color);
    font-size: var(--button-fs);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--second-main-color);
    outline: none;
    cursor: pointer;
}

.search_button input[type=submit]:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.search_button {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    min-width: 510px;
}


/*____________________________________________________________________*/





@keyframes arrow_1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

@media screen and (max-width: 695px) {
    .scroll_button {
        padding: 0;
    }

    .scroll_button p {
        display: none;
    }
    .scroll_button .arrow_1 {
        left: 0px;
        bottom: 0px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 25px 11px 30px 20px;
    }

    /*____________________________________________________________________*/

    .search_button input[type=text] {
        width: 70vw;
        display: block;
        font-size: 14px;
        border-radius: 4px;
        height: 40px;
    }

    .search_button input[type=submit] {
        width: calc(70vw + 62px);
        display: block;
        border-radius: 4px;
        margin-top: 10px;
        height: 40px;
        padding-right: 62px;
    }
    .search_button {
        min-width: 0;
    }

}