.arrow_1 {
    padding: 55px 0 0 41px;

}

.arrow_1 span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--second-main-color);
    border-right: 2px solid var(--second-main-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow_1 2s infinite;
}

.arrow_1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow_1 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes arrow_1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

.scroll_button p {
    transform: rotate(-90deg);
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    position: relative;
}
.scroll_button p {
    transform: rotate(0deg);
}

.scroll_button .arrow_1 {
    position: relative;
    transform: rotate(-90deg);
    padding: 0;
    max-width: 1px;
    left: 130px;
    bottom: 9px;
}

.scroll_button {
    margin: 0 auto;
    text-decoration: none;
    color: #1f373d;
    cursor: pointer;
    height: 40px;
    width: 150px;
    padding: 0px 0px 50px 150px;
}