.card {
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 506px;

}

.card_info {
    padding: 20px;
}

.priceitp {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.priceitp .price {
    font-size: 18px;
    color: var(--first-main-color);
}

.info_card_icon {
    margin-right: 15px;
}

.info_card span:first-child {
    margin-right: 20px;
}

.card:hover {
    /* анімація при наведенні*/
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1118px) {
    .card {
        max-width: 320px;
        min-width: 320px;
        overflow: hidden;
    }


    .card_info p {
        max-width: 215px;
    }


    .info_card span:first-child {
        margin-right: 5px;
    }

    .info_card span:last-child {
        margin-right: 20px;
    }
}

@media screen and (max-width: 695px) {
    .card {
        margin: 10px;
    }
}